* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navgray: #31343e;
    --mainblue: #9eced0;
    --textblue: #465671;
    --bggray: #eeeef9;
}

body {
    font-family: sans-serif;
}

/* nav */
header {
    background-color: var(--navgray);
    display: flex;
    height: 79px;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    color: var(--navgray);
    background-color: var(--mainblue);
    margin: 13px 0;
    padding: 10px 11px 10px 66px;
    font-size: 33px;
}
header nav {
    display: flex;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
header nav ul li a {
    color: var(--mainblue);
    text-decoration: none; 
    font-size: 20px;
    padding-right: 20px;
    border-bottom: var(--mainblue) 3px solid;
    width: 50%;
}
